
#logbtn{

    float:right;
    background-color: rgb(143, 30, 30);
    color:wheat;
    height: 100px;
    width:120px;
    border-radius: 10px;

}
img.card-img-top {
    height: 160px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}
#navbtn{

    float:right;
    background-color: rgb(143, 30, 30);
    color:wheat;
    height: 50px;
    width:200px;
    border-radius: 10px;
    

}
/* select#category {
    padding: 5px;
    width: 55%;
} */
select#category {
    padding: 5px;
    width: 74%;
}
.abc {
    margin-left: 24%;
}
button.btn.btn-primary.btn-lg {
    padding: 2px 8px;
}
button.btn.btn-primary.btn-lg.extra {
    margin-left: 25px;
    margin-top: 14px;
}
#un{
  margin-left: 50px;
 
   
}
#up{
    display: flex;
    margin-top: 10px;
  
}

#seachBox{
    margin-left:10px;
    margin-right:10px
}
/* .OuterDiv{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1),rgba(255,0,0,0));

    border-radius: 20px;
    box-shadow:2px;
} */

#search{
    width:500px;
    height:50px;
    border-radius: 20px;
}
#card{
   float: left;
  margin: 10px;
  text-align: center;
}


